{% extends 'apartments/base.html' %}


{% block content %}

{% if apartment.owner == user or apartment.public_visibility %}
  
<div class="container mt-5">
  <div class="card">
    <div class="card-body">

      {% if apartment.owner == user %}
      <div class="form-check">

        
        <input hx-get="{% url 'apartment:reversePublicity' apartment.id %}" hx-trigger="click" class="form-check-input"
          type="checkbox" value="" {% if apartment.public_visibility %} checked {% endif %}>
        
        <label class="form-check-label" for="flexCheckIndeterminate">
          <h6>Public Visibility</h6>
        </label>
      </div>
      {% endif %}

      <h1> Apartment Details <a href="{% url 'apartment:edit-apartment' apartment.id %} ">Edit </a> </h1>
      <h4>Location: {{apartment}}</h4>
      <h4>Rent Price: {{apartment.rent_price}}</h4>
      <h4>Apartment Price: {{apartment.price}}</h4>

      <h4>notes: {{apartment.notes}}</h4>

      <!-- Show Apartment Media  -->
      <h1> Apartment Media </h1>
      <br>
      {% for photo in photos %}
      <img src="{{ photo.photo.url }}" alt="" width="500" height="500">
      {% endfor %}
      <br>
      {% for video in videos %}
      <video src="{{ video.video.url }}" alt="" width="500" height="500">
        <hr>
        {% endfor %}
    </div>
    <br>
    {% if apartment.owner == user %}
    <div class="form-check">
      <!-- delete btn -->
      <button hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-confirm="Are You Sure To Delete The Apartment and all rent contracts related ?"
      hx-swap="none"
      hx-post="{% url 'apartment:delete-apartment' apartment.id %}" type="button" class="btn btn-danger">
        Delete
      </button>
      {% endif %}
      <br>
      <br>
    </div>

  </div>
  {% endif %}
  {% endblock content %}