{% extends 'apartments/base.html' %}


{% block content %}

{% if apartment.owner == user or apartment.public_visibility %}

<div class="container mt-5">
  <div class="card">
    <div class="card-body">

      {% include 'apartments/components/view_apart_header.html' %}
      <br>
      <h4>Location: {{apartment}}</h4>
      <h4>Rent Price: {{ apartment.rent_price|default:"Not specified" }}</h4>
      {% if apartment.owner == user %}
      <h4>Apartment Price: {{apartment.price}}</h4>
      {% endif %}

      <h4>notes: {{apartment.notes}}</h4>
      <!-- Show Apartment Media  -->
      <h1> Apartment Media </h1>
      <br>
      {% for photo in photos %}
      <img src="{{ photo.photo.url }}" alt="" width="500" height="500">
      {% endfor %}
      <hr>
      {% for video in videos %}
      <video controls src="{{ video.video.url }}" alt="" width="500" height="500"></video>
      {% endfor %}
    </div>
    <br>
    {% if apartment.owner == user %}
    <div class="form-check">
      <!-- delete btn -->
      <button hx-confirm="Are You Sure To Delete The Apartment and all rent contracts related ?" hx-swap="none"
        hx-post="{% url 'apartment:delete-apartment' apartment.id %}" type="button" class="btn btn-danger">
        Delete Apartment
      </button>
      {% endif %}
      <br>
      <br>
    </div>

  </div>
  {% endif %}
  {% endblock content %}