<div class="container text-center" id="container">
    <div class="row align-items-center" >
      <!-- {{paying_dates}} -->
      {% for pay_date in paying_dates %}

      <div class="col" 
      {% if pay_date.is_canceled %}
      style="background-color: brown; border: medium solid  rgb(0, 9, 9);"
      {% elif pay_date.is_paid %}
      style="background-color: rgb(75, 72, 229); border: medium solid  rgb(0, 9, 9);"
      {% else %}
      style="background-color: rgb(0, 247, 82); border: medium solid  rgb(0, 9, 9);"
      {% endif %}
      id="pay_date-{{ pay_date.id }}"
        >
          {{ pay_date.month_counter}} Month
          <br>
          {{ pay_date.date }}
          <a type="button" class="btn btn-light mb-2"
          hx-put="{% url 'rent_contract:mark_as_paid_unpaid' pay_date.id %}"
          hx-target="#container"
          hx-swap="outerHTML"

          >Mark As Paid.</a>
        </div>
        
        
        
        {% endfor %}
        
        

    </div>
  </div>
