{% if apartment.owner == user and apartment.is_rented %}
<div class="apart-header" id="apart-header">
    <!-- paying_dates -->
    {% include 'apartments/components/show_paying_dates.html' %}
    <br>
    <div class="form-check">
        <input hx-get="{% url 'apartment:reversePublicity' apartment.id %}" hx-trigger="click" class="form-check-input"
            type="checkbox" value="" {% if apartment.public_visibility %} checked {% endif %}>

        <label class="form-check-label" for="flexCheckIndeterminate">
            <h6>Public Visibility (Apartment price Will not be visible )</h6>
        </label>
    </div>
    {% endif %}

    <h1> Apartment Details
        {% if apartment.owner == user %}
        <a href="{% url 'apartment:edit-apartment' apartment.id %} ">Edit </a>
    </h1>
    <div class="bd-example-snippet bd-code-snippet">
        <a href="{% url 'apartment:add_media_page' apartment.id %}" class="btn btn-info "> Add/Edit Media </a>
        {% if apartment.is_rented %}

        <button type="button" class="btn btn-danger" id="cancel-contract"
            hx-delete="{% url 'rent_contract:cancel_contract' paying_dates.first.contract.id %}"
            hx-target="#apart-header" hx-swap="outerHTML"
            hx-confirm="Are You Sure To cancel the contract? ">Cancel Contract </button>
        <a href="{% url 'rent_contract:contract-details' paying_dates.first.contract.id %}"
        class="btn btn-warning"
        >Contract Details</a>
        {% else %}
        <a href="{% url 'rent_contract:create-contract' apartment.id %}" class="btn btn-success">Add Contract </a>
        {% endif %}

        {% endif %}

    </div>
</div>